SalesManagementSystem/Connected Services/SubCatServices/SubCatService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="InsertSubCat">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="subCat" type="tns:BLLSubCategory" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="BLLSubCategory">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="SubCatID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="SubCatName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SubCatDescription" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CatName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CatID" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="InsertSubCatResponse">
        <s:complexType />
      </s:element>
      <s:element name="DeleteSubCat">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="subCatId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteSubCatResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetAllSubCat">
        <s:complexType />
      </s:element>
      <s:element name="GetAllSubCatResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetSubCatById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="subCatId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSubCatByIdResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetCategories">
        <s:complexType />
      </s:element>
      <s:element name="GetCategoriesResponse">
        <s:complexType />
      </s:element>
      <s:element name="UpdateSubCat">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="subCat" type="tns:BLLSubCategory" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateSubCatResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="InsertSubCatSoapIn">
    <wsdl:part name="parameters" element="tns:InsertSubCat" />
  </wsdl:message>
  <wsdl:message name="InsertSubCatSoapOut">
    <wsdl:part name="parameters" element="tns:InsertSubCatResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteSubCatSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteSubCat" />
  </wsdl:message>
  <wsdl:message name="DeleteSubCatSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteSubCatResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllSubCatSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllSubCat" />
  </wsdl:message>
  <wsdl:message name="GetAllSubCatSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllSubCatResponse" />
  </wsdl:message>
  <wsdl:message name="GetSubCatByIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetSubCatById" />
  </wsdl:message>
  <wsdl:message name="GetSubCatByIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetSubCatByIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetCategoriesSoapIn">
    <wsdl:part name="parameters" element="tns:GetCategories" />
  </wsdl:message>
  <wsdl:message name="GetCategoriesSoapOut">
    <wsdl:part name="parameters" element="tns:GetCategoriesResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateSubCatSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateSubCat" />
  </wsdl:message>
  <wsdl:message name="UpdateSubCatSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateSubCatResponse" />
  </wsdl:message>
  <wsdl:portType name="SubCatServiceSoap">
    <wsdl:operation name="InsertSubCat">
      <wsdl:input message="tns:InsertSubCatSoapIn" />
      <wsdl:output message="tns:InsertSubCatSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteSubCat">
      <wsdl:input message="tns:DeleteSubCatSoapIn" />
      <wsdl:output message="tns:DeleteSubCatSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllSubCat">
      <wsdl:input message="tns:GetAllSubCatSoapIn" />
      <wsdl:output message="tns:GetAllSubCatSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSubCatById">
      <wsdl:input message="tns:GetSubCatByIdSoapIn" />
      <wsdl:output message="tns:GetSubCatByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCategories">
      <wsdl:input message="tns:GetCategoriesSoapIn" />
      <wsdl:output message="tns:GetCategoriesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateSubCat">
      <wsdl:input message="tns:UpdateSubCatSoapIn" />
      <wsdl:output message="tns:UpdateSubCatSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SubCatServiceSoap" type="tns:SubCatServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertSubCat">
      <soap:operation soapAction="http://tempuri.org/InsertSubCat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteSubCat">
      <soap:operation soapAction="http://tempuri.org/DeleteSubCat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllSubCat">
      <soap:operation soapAction="http://tempuri.org/GetAllSubCat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSubCatById">
      <soap:operation soapAction="http://tempuri.org/GetSubCatById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCategories">
      <soap:operation soapAction="http://tempuri.org/GetCategories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSubCat">
      <soap:operation soapAction="http://tempuri.org/UpdateSubCat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SubCatServiceSoap12" type="tns:SubCatServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertSubCat">
      <soap12:operation soapAction="http://tempuri.org/InsertSubCat" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteSubCat">
      <soap12:operation soapAction="http://tempuri.org/DeleteSubCat" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllSubCat">
      <soap12:operation soapAction="http://tempuri.org/GetAllSubCat" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSubCatById">
      <soap12:operation soapAction="http://tempuri.org/GetSubCatById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCategories">
      <soap12:operation soapAction="http://tempuri.org/GetCategories" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSubCat">
      <soap12:operation soapAction="http://tempuri.org/UpdateSubCat" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SubCatService">
    <wsdl:port name="SubCatServiceSoap" binding="tns:SubCatServiceSoap">
      <soap:address location="http://localhost:54456/Admin/SubCat/SubCatService.asmx" />
    </wsdl:port>
    <wsdl:port name="SubCatServiceSoap12" binding="tns:SubCatServiceSoap12">
      <soap12:address location="http://localhost:54456/Admin/SubCat/SubCatService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>